# Python Datetime module

In [ ]:
#datetime.datetime
#module datetime have class called datetime
#datetime class have few more classes
#1 date
#2 time
#3 date-time
#4 timedelt
#5 tzinfo
#6 timezone

In [ ]:
# class datetime.date(year, month, day)
# If we give unrealistic dates it will give ValueError Exception

# Date Class

In [1]:
from datetime import date
mydate = date(1996,6,12)
print(mydate)

1996-06-12

In [2]:
today=date.today()
today

datetime.date(2025, 6, 24)

In [3]:
today = date.today()
print("Current year",today.year)
print("Current month",today.month)
print("Current day",today.day)

Current year 2025
Current month 6
Current day 24

In [4]:
from datetime import datetime
datetimedata = datetime.fromtimestamp(2324521585)

In [6]:
print(datetimedata)

2043-08-30 09:56:25

In [7]:
today = date.today()

In [8]:
strdate = date.isoformat(today)

In [10]:
print("Date converted in string "+strdate)
print(type(strdate))

Date converted in string 2025-06-24
<class 'str'>

1. ctime()
2. fromisocalendar()
3. fromisoformat()
4. fromordinal()
5. fromtimestamp()
6. iscalendar()
7. isoweekday()
8. isoformat()
9. replace()
10. strftime()
11. timetuple()
12. today()
13. toordinal

different methods in date class

In [1]:
from datetime import date

In [6]:
date.fromordinal(730920) #gives date a ordinal starting from 1 and for each day ordinal is incremented by 1. the ordinals are given according to gregorian calendar and the gregorian calendar starts from 1.1.0001

datetime.date(2002, 3, 11)

In [23]:
a=date.fromisoformat('2025-06-25')
b=date.fromisoformat('20250625')

In [24]:
a

datetime.date(2025, 6, 25)

In [25]:
b

datetime.date(2025, 6, 25)

In [28]:
date.fromtimestamp(86401)

datetime.date(1970, 1, 2)

In [32]:
date.fromisocalendar(2025, 4, 4)

datetime.date(2025, 1, 23)

In [42]:
d=date(2025, 6, 25)
d.replace(year=2024)

datetime.date(2024, 6, 25)

# Time Class

In [43]:
from datetime import time

In [44]:
mytime = time(13, 24, 56)

In [45]:
print(mytime)

13:24:56

In [46]:
mytime=time(13)

In [47]:
mytime

datetime.time(13, 0)

In [48]:
type(mytime)

datetime.time

In [49]:
mytime = time(2,30,0)

In [50]:
mytime.minute

30

In [51]:
mytime.hour

2

In [52]:
mytime.second

0

In [53]:
mytime.microsecond

0

In [54]:
strftime = mytime.isoformat()

In [55]:
strftime

'02:30:00'

In [56]:
type(strftime)

str

In [57]:
from datetime import datetime, timedelta, timezone
from zoneinfo import ZoneInfo

# Ambiguous time: 1:30 AM on DST fall-back day
dt1 = datetime(2024, 11, 3, 1, 30, tzinfo=ZoneInfo("America/New_York"), fold=0)
dt2 = datetime(2024, 11, 3, 1, 30, tzinfo=ZoneInfo("America/New_York"), fold=1)

#Convert to UTC to see the difference
print("Before fallback:",dt1.astimezone(timezone.utc))
print("After fallback:",dt2.astimezone(timezone.utc))

Before fallback: 2024-11-03 05:30:00+00:00
After fallback: 2024-11-03 06:30:00+00:00

# Timedelta Class

In [ ]:
# to perform arithmetic operations we use timedelta
# ALWAYS return date
# it have default value for all parameters and that is 0