In [1]:
!pip install findspark
!pip install pyspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1
Requirement already satisfied: pyspark in /usr/local/spark/python (3.5.0)
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 3.9 MB/s eta 0:00:00a 0:00:01
Installing collected packages: py4j
Successfully installed py4j-0.10.9.7

In [2]:
!pip install h3

Collecting h3
  Downloading h3-4.3.1-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (18 kB)
Downloading h3-4.3.1-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 11.5 MB/s eta 0:00:00a 0:00:01
Installing collected packages: h3
Successfully installed h3-4.3.1

In [3]:
import findspark
findspark.init()

In [ ]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, cast
spark = SparkSession.builder.appName("Read Parquet From Data").config("spark.jars.packages", "org.postgresql:postgresql:42.6.0").getOrCreate()

In [5]:
spark.conf.set("spark.sql.legacy.parquet.nanosAsLong", "true")

In [6]:
df = spark.read.parquet("../data/")
df.show()

+------------+--------------------+---------+-------------------+----------+---------+--------+----------+-------+------+----+
|          id|               place|magnitude|               time|  latitude|longitude|  status|      type|tsunami| depth|year|
+------------+--------------------+---------+-------------------+----------+---------+--------+----------+-------+------+----+
|  us1000bykk|3 km W of Marshal...|      3.2|2018-01-01 00:39:31|   36.1511| -97.6653|reviewed|earthquake|   NULL| 6.059|2018|
|  us1000byl4|18 km NE of Hasak...|      4.6|2018-01-01 01:12:41|   35.8275| 140.9963|reviewed|earthquake|   NULL| 46.84|2018|
|  nc72946846|19km WSW of Hayfo...|     3.76|2018-01-01 01:19:06|40.4846667|  -123.39|reviewed|earthquake|   NULL| 30.44|2018|
|  us1000byld|13 km NNE of Erde...|      4.3|2018-01-01 01:42:02|   40.5104|  27.8564|reviewed|earthquake|   NULL| 11.78|2018|
|  us1000bylw|Chagos Archipelag...|      5.1|2018-01-01 01:57:49|   -8.1161|  68.0644|reviewed|earthquake|   NULL|  10.0|2018|
|  us1000bymc|southern East Pac...|      5.1|2018-01-01 02:29:02|  -53.0266|-118.3468|reviewed|earthquake|   NULL|  10.0|2018|
|  us2000ck04|82 km N of Batang...|      4.2|2018-01-01 02:33:56|   -5.7409| 110.6514|reviewed|earthquake|   NULL|542.41|2018|
|  us1000bym9|76 km ESE of Copi...|      4.2|2018-01-01 02:36:00|  -27.5647| -69.5867|reviewed|earthquake|   NULL| 111.3|2018|
|  us2000ck03|59 km ESE of Yuji...|      4.2|2018-01-01 02:38:43|   22.9826| 121.0258|reviewed|earthquake|   NULL|  10.0|2018|
|  us1000c0jd|     Chiapas, Mexico|      4.4|2018-01-01 02:52:37|   16.2525| -92.8963|reviewed|earthquake|   NULL|207.46|2018|
|ak017grzuwec|46 km W of Lake L...|      2.9|2018-01-01 03:03:23|   62.3394|-147.4324|reviewed|earthquake|   NULL|  44.3|2018|
|ak017gs0jz5k|55 km W of Nanwal...|      3.6|2018-01-01 04:20:23|   59.3419|-152.8955|reviewed|earthquake|   NULL|  76.4|2018|
|  us1000byp8|293 km N of Saipa...|      4.8|2018-01-01 05:18:50|   17.8573| 145.8866|reviewed|earthquake|   NULL|156.61|2018|
|  us2000ck1k|Pagan region, Nor...|      4.2|2018-01-01 05:49:14|   18.5434| 145.5894|reviewed|earthquake|   NULL|181.19|2018|
|  us1000bypf|113 km SE of Kimb...|      4.6|2018-01-01 06:10:47|   -6.2365| 150.8961|reviewed|earthquake|   NULL|  35.0|2018|
|  us1000byph|114 km SE of Goro...|      4.5|2018-01-01 06:22:30|   -0.2797| 123.6999|reviewed|earthquake|   NULL|127.24|2018|
|pr2018001000|        Mona Passage|     2.51|2018-01-01 06:26:31|   18.3251| -67.2765|reviewed|earthquake|   NULL|  21.0|2018|
|  ci37844303|4km SE of Ontario...|     3.09|2018-01-01 07:05:34|34.0316667| -117.593|reviewed|earthquake|   NULL|  4.08|2018|
|  us1000bypr|77 km N of Khand?...|      4.2|2018-01-01 07:46:06|   37.6336|  72.4779|reviewed|earthquake|   NULL|201.07|2018|
|  ci37844527|45km ENE of Manea...|     3.09|2018-01-01 09:48:57|31.8491667|-116.1185|reviewed|earthquake|   NULL| 12.31|2018|
+------------+--------------------+---------+-------------------+----------+---------+--------+----------+-------+------+----+
only showing top 20 rows

In [7]:
df.count()

1016786

In [8]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- place: string (nullable = true)
 |-- magnitude: double (nullable = true)
 |-- time: timestamp_ntz (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- status: string (nullable = true)
 |-- type: string (nullable = true)
 |-- tsunami: long (nullable = true)
 |-- depth: double (nullable = true)
 |-- year: integer (nullable = true)

In [11]:
pandas_df = df.select("*").toPandas()

In [12]:
pandas_df.sort_values("year")

,id,place,magnitude,time,latitude,longitude,status,type,tsunami,depth,year
1013640,iscgem901491,"9 km SE of Fayzabad, Afghanistan",5.62,1940-07-17 11:44:49,37.065000,70.664000,reviewed,earthquake,0.0,15.000,1940
1013769,ci3365482,"9km SSW of Borrego Springs, CA",4.06,1940-10-21 06:49:33,33.176333,-116.410000,reviewed,earthquake,0.0,6.000,1940
1013770,ci3365483,"8km W of Ocotillo Wells, CA",3.29,1940-10-21 07:19:45,33.144000,-116.219167,reviewed,earthquake,0.0,6.000,1940
1013771,iscgem901664,"12 km NNW of Gura Teghii, Romania",6.63,1940-10-22 06:37:01,45.590000,26.383000,reviewed,earthquake,0.0,130.000,1940
1013772,ushis1338,"0 km E of Rio Dell, California",4.50,1940-10-22 11:01:00,40.500000,-124.100000,reviewed,earthquake,0.0,NaN,1940
...,...,...,...,...,...,...,...,...,...,...,...
759795,us6000qha6,"17 km SSW of Avsallar, Turkey",3.80,2025-06-01 23:01:28,36.489000,31.676100,reviewed,earthquake,NaN,39.036,2025
759794,ak0256znvhh3,"17 km NNW of Perryville, Alaska",2.80,2025-06-01 22:41:02,56.048300,-159.291200,reviewed,earthquake,NaN,99.300,2025
759793,us6000qha2,"35 km SE of Rasht, Tajikistan",4.10,2025-06-01 22:39:11,38.823500,70.682900,reviewed,earthquake,NaN,10.000,2025
759806,us6000qkus,"25 km E of Cayarani, Peru",4.30,2025-06-02 03:33:32,-14.636700,-71.783900,reviewed,earthquake,NaN,124.435,2025
756056,us6000q6iw,"200 km ESE of Kimbe, Papua New Guinea",4.40,2025-04-05 21:37:21,-6.433100,151.717900,reviewed,earthquake,NaN,10.000,2025

In [13]:
import pandas as pd

us_states = [
    'alabama', 'al', 'alaska', 'ak', 'arizona', 'az', 'arkansas', 'ar', 'california', 'ca', 'colorado', 'co',
    'connecticut', 'ct', 'delaware', 'de', 'District of Columbia', 'dc', 'florida', 'fl', 'georgia', 'ga',
    'hawaii', 'hi', 'idaho', 'id', 'illinois', 'il', 'indiana', 'in', 'iowa', 'ia', 'kansas', 'ks',
    'kentucky', 'ky', 'louisiana', 'la', 'maine', 'me', 'maryland', 'md', 'massachusetts', 'ma', 'michigan', 'mi',
    'minnesota', 'mn', 'mississippi', 'ms', 'missouri', 'mo', 'montana', 'mt', 'nebraska', 'ne', 'nevada', 'nv',
    'new hampshire', 'nh', 'new jersey', 'nj', 'new mexico', 'nm', 'new york', 'ny', 'north carolina', 'nc', 
    'north dakota', 'nd', 'ohio', 'oh', 'oklahoma', 'ok', 'oregon', 'or', 'pennsylvania', 'pa', 'rhode island', 'ri',
    'south carolina', 'sc', 'south dakota', 'sd', 'tennessee', 'tn', 'texas', 'tx', 'utah', 'ut', 'vermont', 'vt',
    'virginia', 'va' 'washington', 'wa', 'west virginia', 'wv', 'wisconsin', 'wi', 'wyoming', 'wy'
]

def extract_country(place):
    if pd.isnull(place):
        return "Unknown"

    parts = [part.strip().lower() for part in place.split(',')]
    
    if len(parts) > 1:
        token = parts[-1]
    elif len(parts) > 2:
        token = parts[-2]
    else:
        token = parts[0].split()[-1]  

    if token in us_states:
        return "United States"
    
    return parts[-1].title()  # return title-cased raw token

# Apply function
pandas_df['country'] = pandas_df['place'].apply(extract_country)

In [14]:
pandas_df

,id,place,magnitude,time,latitude,longitude,status,type,tsunami,depth,year,country
0,us1000bykk,"3 km W of Marshall, Oklahoma",3.20,2018-01-01 00:39:31,36.151100,-97.665300,reviewed,earthquake,NaN,6.059,2018,United States
1,us1000byl4,"18 km NE of Hasaki, Japan",4.60,2018-01-01 01:12:41,35.827500,140.996300,reviewed,earthquake,NaN,46.840,2018,Japan
2,nc72946846,"19km WSW of Hayfork, CA",3.76,2018-01-01 01:19:06,40.484667,-123.390000,reviewed,earthquake,NaN,30.440,2018,United States
3,us1000byld,"13 km NNE of Erdek, Turkey",4.30,2018-01-01 01:42:02,40.510400,27.856400,reviewed,earthquake,NaN,11.780,2018,Turkey
4,us1000bylw,Chagos Archipelago region,5.10,2018-01-01 01:57:49,-8.116100,68.064400,reviewed,earthquake,NaN,10.000,2018,Chagos Archipelago Region
...,...,...,...,...,...,...,...,...,...,...,...,...
1016781,iscgem899245,"48 km S of Kimbe, Papua New Guinea",6.92,1945-12-27 04:41:10,-5.989000,150.192000,reviewed,earthquake,0.0,55.000,1945,Papua New Guinea
1016782,iscgem899246,"32 km SSW of Kimbe, Papua New Guinea",7.46,1945-12-28 17:48:57,-5.826000,150.043000,reviewed,earthquake,0.0,60.000,1945,Papua New Guinea
1016783,iscgem899247,"98 km E of Kimbe, Papua New Guinea",6.20,1945-12-29 09:50:46,-5.643000,151.025000,reviewed,earthquake,0.0,35.000,1945,Papua New Guinea
1016784,iscgem899249,"108 km SE of Kimbe, Papua New Guinea",6.28,1945-12-30 00:48:40,-6.156000,150.914000,reviewed,earthquake,0.0,35.000,1945,Papua New Guinea
1016785,ci3360120,"13km NW of Santa Barbara Is., CA",2.57,1945-12-30 11:17:28,33.557500,-119.158667,reviewed,earthquake,0.0,6.000,1945,United States

In [15]:
df_with_country = spark.createDataFrame(pandas_df)

In [16]:
df_with_country.show()

+------------+--------------------+---------+-------------------+----------+---------+--------+----------+-------+------+----+--------------------+
|          id|               place|magnitude|               time|  latitude|longitude|  status|      type|tsunami| depth|year|             country|
+------------+--------------------+---------+-------------------+----------+---------+--------+----------+-------+------+----+--------------------+
|  us1000bykk|3 km W of Marshal...|      3.2|2018-01-01 00:39:31|   36.1511| -97.6653|reviewed|earthquake|    NaN| 6.059|2018|       United States|
|  us1000byl4|18 km NE of Hasak...|      4.6|2018-01-01 01:12:41|   35.8275| 140.9963|reviewed|earthquake|    NaN| 46.84|2018|               Japan|
|  nc72946846|19km WSW of Hayfo...|     3.76|2018-01-01 01:19:06|40.4846667|  -123.39|reviewed|earthquake|    NaN| 30.44|2018|       United States|
|  us1000byld|13 km NNE of Erde...|      4.3|2018-01-01 01:42:02|   40.5104|  27.8564|reviewed|earthquake|    NaN| 11.78|2018|              Turkey|
|  us1000bylw|Chagos Archipelag...|      5.1|2018-01-01 01:57:49|   -8.1161|  68.0644|reviewed|earthquake|    NaN|  10.0|2018|Chagos Archipelag...|
|  us1000bymc|southern East Pac...|      5.1|2018-01-01 02:29:02|  -53.0266|-118.3468|reviewed|earthquake|    NaN|  10.0|2018|Southern East Pac...|
|  us2000ck04|82 km N of Batang...|      4.2|2018-01-01 02:33:56|   -5.7409| 110.6514|reviewed|earthquake|    NaN|542.41|2018|           Indonesia|
|  us1000bym9|76 km ESE of Copi...|      4.2|2018-01-01 02:36:00|  -27.5647| -69.5867|reviewed|earthquake|    NaN| 111.3|2018|               Chile|
|  us2000ck03|59 km ESE of Yuji...|      4.2|2018-01-01 02:38:43|   22.9826| 121.0258|reviewed|earthquake|    NaN|  10.0|2018|              Taiwan|
|  us1000c0jd|     Chiapas, Mexico|      4.4|2018-01-01 02:52:37|   16.2525| -92.8963|reviewed|earthquake|    NaN|207.46|2018|              Mexico|
|ak017grzuwec|46 km W of Lake L...|      2.9|2018-01-01 03:03:23|   62.3394|-147.4324|reviewed|earthquake|    NaN|  44.3|2018|       United States|
|ak017gs0jz5k|55 km W of Nanwal...|      3.6|2018-01-01 04:20:23|   59.3419|-152.8955|reviewed|earthquake|    NaN|  76.4|2018|       United States|
|  us1000byp8|293 km N of Saipa...|      4.8|2018-01-01 05:18:50|   17.8573| 145.8866|reviewed|earthquake|    NaN|156.61|2018|Northern Mariana ...|
|  us2000ck1k|Pagan region, Nor...|      4.2|2018-01-01 05:49:14|   18.5434| 145.5894|reviewed|earthquake|    NaN|181.19|2018|Northern Mariana ...|
|  us1000bypf|113 km SE of Kimb...|      4.6|2018-01-01 06:10:47|   -6.2365| 150.8961|reviewed|earthquake|    NaN|  35.0|2018|    Papua New Guinea|
|  us1000byph|114 km SE of Goro...|      4.5|2018-01-01 06:22:30|   -0.2797| 123.6999|reviewed|earthquake|    NaN|127.24|2018|           Indonesia|
|pr2018001000|        Mona Passage|     2.51|2018-01-01 06:26:31|   18.3251| -67.2765|reviewed|earthquake|    NaN|  21.0|2018|        Mona Passage|
|  ci37844303|4km SE of Ontario...|     3.09|2018-01-01 07:05:34|34.0316667| -117.593|reviewed|earthquake|    NaN|  4.08|2018|       United States|
|  us1000bypr|77 km N of Khand?...|      4.2|2018-01-01 07:46:06|   37.6336|  72.4779|reviewed|earthquake|    NaN|201.07|2018|         Afghanistan|
|  ci37844527|45km ENE of Manea...|     3.09|2018-01-01 09:48:57|31.8491667|-116.1185|reviewed|earthquake|    NaN| 12.31|2018|                  Mx|
+------------+--------------------+---------+-------------------+----------+---------+--------+----------+-------+------+----+--------------------+
only showing top 20 rows

In [17]:
import h3
from pyspark.sql.functions import col, udf
import pyspark.sql.functions as F
from pyspark.sql.types import StringType

def get_h3_index(lat,long):
    cell_val=h3.latlng_to_cell(lat,long,res=4)
    return cell_val

In [18]:
get_h3_index(80.9784,29.3582)

'84000c1ffffffff'

In [19]:
df_UDF = udf(lambda x,y: get_h3_index(x,y))

In [20]:
new_df =df_with_country.withColumn("h3_index",df_UDF(col('latitude'),col('longitude')))

In [21]:
new_df.show()

+------------+--------------------+---------+-------------------+----------+---------+--------+----------+-------+------+----+--------------------+---------------+
|          id|               place|magnitude|               time|  latitude|longitude|  status|      type|tsunami| depth|year|             country|       h3_index|
+------------+--------------------+---------+-------------------+----------+---------+--------+----------+-------+------+----+--------------------+---------------+
|  us1000bykk|3 km W of Marshal...|      3.2|2018-01-01 00:39:31|   36.1511| -97.6653|reviewed|earthquake|    NaN| 6.059|2018|       United States|8426c57ffffffff|
|  us1000byl4|18 km NE of Hasak...|      4.6|2018-01-01 01:12:41|   35.8275| 140.9963|reviewed|earthquake|    NaN| 46.84|2018|               Japan|842e2dbffffffff|
|  nc72946846|19km WSW of Hayfo...|     3.76|2018-01-01 01:19:06|40.4846667|  -123.39|reviewed|earthquake|    NaN| 30.44|2018|       United States|842802dffffffff|
|  us1000byld|13 km NNE of Erde...|      4.3|2018-01-01 01:42:02|   40.5104|  27.8564|reviewed|earthquake|    NaN| 11.78|2018|              Turkey|841ecb9ffffffff|
|  us1000bylw|Chagos Archipelag...|      5.1|2018-01-01 01:57:49|   -8.1161|  68.0644|reviewed|earthquake|    NaN|  10.0|2018|Chagos Archipelag...|8484e03ffffffff|
|  us1000bymc|southern East Pac...|      5.1|2018-01-01 02:29:02|  -53.0266|-118.3468|reviewed|earthquake|    NaN|  10.0|2018|Southern East Pac...|84d3281ffffffff|
|  us2000ck04|82 km N of Batang...|      4.2|2018-01-01 02:33:56|   -5.7409| 110.6514|reviewed|earthquake|    NaN|542.41|2018|           Indonesia|848d8adffffffff|
|  us1000bym9|76 km ESE of Copi...|      4.2|2018-01-01 02:36:00|  -27.5647| -69.5867|reviewed|earthquake|    NaN| 111.3|2018|               Chile|84b2013ffffffff|
|  us2000ck03|59 km ESE of Yuji...|      4.2|2018-01-01 02:38:43|   22.9826| 121.0258|reviewed|earthquake|    NaN|  10.0|2018|              Taiwan|844b84dffffffff|
|  us1000c0jd|     Chiapas, Mexico|      4.4|2018-01-01 02:52:37|   16.2525| -92.8963|reviewed|earthquake|    NaN|207.46|2018|              Mexico|846d233ffffffff|
|ak017grzuwec|46 km W of Lake L...|      2.9|2018-01-01 03:03:23|   62.3394|-147.4324|reviewed|earthquake|    NaN|  44.3|2018|       United States|840c757ffffffff|
|ak017gs0jz5k|55 km W of Nanwal...|      3.6|2018-01-01 04:20:23|   59.3419|-152.8955|reviewed|earthquake|    NaN|  76.4|2018|       United States|840c539ffffffff|
|  us1000byp8|293 km N of Saipa...|      4.8|2018-01-01 05:18:50|   17.8573| 145.8866|reviewed|earthquake|    NaN|156.61|2018|Northern Mariana ...|844e62dffffffff|
|  us2000ck1k|Pagan region, Nor...|      4.2|2018-01-01 05:49:14|   18.5434| 145.5894|reviewed|earthquake|    NaN|181.19|2018|Northern Mariana ...|844e71bffffffff|
|  us1000bypf|113 km SE of Kimb...|      4.6|2018-01-01 06:10:47|   -6.2365| 150.8961|reviewed|earthquake|    NaN|  35.0|2018|    Papua New Guinea|849c945ffffffff|
|  us1000byph|114 km SE of Goro...|      4.5|2018-01-01 06:22:30|   -0.2797| 123.6999|reviewed|earthquake|    NaN|127.24|2018|           Indonesia|8468dd7ffffffff|
|pr2018001000|        Mona Passage|     2.51|2018-01-01 06:26:31|   18.3251| -67.2765|reviewed|earthquake|    NaN|  21.0|2018|        Mona Passage|844cc09ffffffff|
|  ci37844303|4km SE of Ontario...|     3.09|2018-01-01 07:05:34|34.0316667| -117.593|reviewed|earthquake|    NaN|  4.08|2018|       United States|8429a0bffffffff|
|  us1000bypr|77 km N of Khand?...|      4.2|2018-01-01 07:46:06|   37.6336|  72.4779|reviewed|earthquake|    NaN|201.07|2018|         Afghanistan|842083bffffffff|
|  ci37844527|45km ENE of Manea...|     3.09|2018-01-01 09:48:57|31.8491667|-116.1185|reviewed|earthquake|    NaN| 12.31|2018|                  Mx|8448599ffffffff|
+------------+--------------------+---------+-------------------+----------+---------+--------+----------+-------+------+----+--------------------+---------------+
only showing top 20 rows

In [22]:
df_normal_count = new_df.select('h3_index')
print(df_normal_count.count())

1016786

In [23]:
df_distinct = new_df.select('h3_index').distinct()
df_distinct_count = df_distinct.count()
df_distinct_count

39374

In [24]:
new_df_count = new_df.groupBy('h3_index').count()

In [25]:
new_df_count.show()

+---------------+-----+
|       h3_index|count|
+---------------+-----+
|844ce3bffffffff|  647|
|840cdd7ffffffff|  143|
|8425323ffffffff|    9|
|84066b9ffffffff|   10|
|849b769ffffffff|   25|
|846864dffffffff|    9|
|840ccedffffffff|   41|
|8495501ffffffff|   28|
|849a2c7ffffffff|   16|
|84686a7ffffffff|  269|
|8429935ffffffff|   57|
|849b213ffffffff|  121|
|844271dffffffff|  111|
|8429135ffffffff|   63|
|84685d3ffffffff|  120|
|8422f3bffffffff|  260|
|849a243ffffffff|   83|
|8416089ffffffff|   47|
|842db1dffffffff|    4|
|8473b15ffffffff|   25|
+---------------+-----+
only showing top 20 rows

In [26]:
agg_df = new_df.groupBy("h3_index").agg(
    F.min("magnitude").alias("min_magnitude"),
    F.max("magnitude").alias("max_magnitude"),
    F.stddev("magnitude").alias("std_magnitude")
)

In [27]:
agg_df.show()

+---------------+-------------+-------------+-------------------+
|       h3_index|min_magnitude|max_magnitude|      std_magnitude|
+---------------+-------------+-------------+-------------------+
|844ce3bffffffff|          2.5|          5.1|0.30190037991380164|
|840cdd7ffffffff|          2.5|          6.2| 0.7407640979642962|
|8425323ffffffff|          4.1|         5.73| 0.6042580390675641|
|84066b9ffffffff|          4.3|          5.4| 0.3973523485382826|
|849b769ffffffff|          3.7|          5.4|0.36660605559646725|
|846864dffffffff|          4.1|         5.64|0.46494922064433847|
|840ccedffffffff|          2.5|          4.2|0.40728128950454845|
|8495501ffffffff|          4.0|         5.62| 0.3667763183806553|
|849a2c7ffffffff|          3.5|          5.7| 0.5224541447183029|
|84686a7ffffffff|          3.6|         6.67| 0.4582175910042792|
|8429935ffffffff|          2.5|         4.17| 0.3274951452700309|
|849b213ffffffff|          4.0|          6.2| 0.4557724499910002|
|844271dffffffff|          3.3|          6.0|0.48407734540141023|
|8429135ffffffff|          2.5|         3.83|0.34214677219356937|
|84685d3ffffffff|          3.5|          5.9| 0.4924044931496357|
|8422f3bffffffff|          2.5|          6.8| 0.7082910271146874|
|849a243ffffffff|          4.1|          6.9| 0.4771567027233972|
|8416089ffffffff|          3.4|          6.1|0.44346420321990515|
|842db1dffffffff|          2.9|          4.7| 0.7632168761236873|
|8473b15ffffffff|          4.0|          5.5|0.33625387234449317|
+---------------+-------------+-------------+-------------------+
only showing top 20 rows

In [28]:
new_df = new_df.join(agg_df, on="h3_index", how="left")

In [29]:
new_df.show()

+---------------+------------+--------------------+---------+-------------------+----------+------------+--------+----------+-------+-----+----+-------------+-------------+-------------+-------------------+
|       h3_index|          id|               place|magnitude|               time|  latitude|   longitude|  status|      type|tsunami|depth|year|      country|min_magnitude|max_magnitude|      std_magnitude|
+---------------+------------+--------------------+---------+-------------------+----------+------------+--------+----------+-------+-----+----+-------------+-------------+-------------+-------------------+
|840c539ffffffff|ak017gs0jz5k|55 km W of Nanwal...|      3.6|2018-01-01 04:20:23|   59.3419|   -152.8955|reviewed|earthquake|    NaN| 76.4|2018|United States|          2.5|          6.4| 0.5330689520073465|
|840c747ffffffff|ak0164qhpngl|47 km SSW of Cant...|      2.6|2016-04-12 14:30:01|   63.0083|   -149.3622|reviewed|earthquake|    NaN| 76.6|2016|United States|          2.5|          5.0|0.47060079179509523|
|840c76dffffffff| ak995vobscl|      Central Alaska|      2.5|1995-01-19 21:01:21|   63.3943|   -151.9203|reviewed|earthquake|    NaN|  6.8|1995|United States|          2.5|          5.2|0.43370858646503285|
|841625bffffffff|  usp000egge|55 km ESE of Osso...|      4.2|2006-05-07 19:15:03|    59.109|     164.006|reviewed|earthquake|    NaN| 35.1|2006|       Russia|          4.2|          4.2|               NULL|
|841ed29ffffffff|  usp000bhwf|20 km NW of Achar...|      4.5|2002-11-17 23:54:59|     39.93|       19.66|reviewed|earthquake|    NaN| 24.0|2002|       Greece|          2.6|          4.9| 0.4794567199261215|
|841ed63ffffffff|  usp000bhwg|13 km WSW of Hima...|      3.4|2002-11-17 23:57:58|     40.06|        19.6|reviewed|earthquake|    NaN|  5.0|2002|      Albania|          2.5|         5.58| 0.5244456750730221|
|8420821ffffffff|  usp000anut|40 km SSE of Jurm...|      4.1|2001-09-08 21:19:48|    36.545|      71.044|reviewed|earthquake|    NaN|214.3|2001|  Afghanistan|          3.0|          7.5| 0.4330064772001513|
|8426847ffffffff|  usp000dcw5|42 km NNE of Dixo...|      3.0|2005-01-09 18:40:51|    41.387|    -107.346|reviewed|earthquake|    NaN|  5.0|2005|United States|          2.8|          3.5| 0.2422120283277994|
|8428315ffffffff|  nc30066498|4 km SW of Cobb, ...|     2.63|1995-01-19 23:24:17|38.7941667|-122.7643333|reviewed|earthquake|    NaN|0.091|1995|United States|          2.5|         5.01|0.35239902469014167|
|8428315ffffffff|    nc143508|5 km N of Geyserv...|      3.3|1989-09-03 20:54:42|38.7586667|-122.8968333|reviewed|earthquake|    0.0|4.441|1989|United States|          2.5|         5.01|0.35239902469014167|
|8428ce7ffffffff|  uw10534953|80 km WSW of Tofi...|      4.0|2001-09-08 22:50:02|48.8501667|-126.9001667|reviewed|earthquake|    NaN|9.288|2001|       Canada|          2.5|          4.5| 0.6273527146441853|
|842d157ffffffff|  usp000dcw4|15 km NNE of K?r?...|      3.4|2005-01-09 18:36:54|    39.274|      34.237|reviewed|earthquake|    NaN|  5.0|2005|       Turkey|          3.4|          3.4|                0.0|
|842da63ffffffff|  usp000bhwp|52 km SE of Prota...|      3.3|2002-11-18 01:20:12|     34.64|       34.42|reviewed|earthquake|    NaN| 25.0|2002|       Cyprus|          3.2|          5.4| 0.7149203529842407|
|842e1d5ffffffff|  usp0003z66|85 km E of Mutsu,...|      4.4|1989-09-03 15:44:30|    41.324|     142.242|reviewed|earthquake|    0.0| 83.2|1989|        Japan|          3.0|          6.4| 0.5253885622731622|
|843c6adffffffff|  usp000bhwt|Southern Qinghai,...|      4.0|2002-11-18 02:52:02|    32.157|      95.557|reviewed|earthquake|    NaN| 33.0|2002|        China|          4.0|          4.7| 0.2926886855802025|
|843f633ffffffff|  usp0006rky|20 km NNE of Göce...|      3.4|1995-01-20 00:29:11|    36.934|      29.003|reviewed|earthquake|    NaN| 10.0|1995|       Turkey|          2.8|          5.4|0.39229348169261075|
|84400b7ffffffff|  us6000g80u|26 km ESE of Xunc...|      4.7|2021-12-01 03:09:35|    28.391|    104.9714|reviewed|earthquake|    NaN| 10.0|2021|        China|          3.8|          5.8| 0.3437333420571348|
|844052dffffffff|  usp0006rkp|104 km SSW of Luo...|      4.3|1995-01-19 20:24:19|    28.597|     103.437|reviewed|earthquake|    NaN| 33.0|1995|        China|          4.1|         5.96| 0.5855119490021041|
|8444c81ffffffff|     se60946|4 km ENE of Niota...|      2.5|1989-09-03 15:27:36|    35.535|     -84.499|reviewed|earthquake|    0.0| 18.8|1989|United States|          2.5|          4.4| 0.4211891319826342|
|8448599ffffffff|  ci37844527|45km ENE of Manea...|     3.09|2018-01-01 09:48:57|31.8491667|   -116.1185|reviewed|earthquake|    NaN|12.31|2018|           Mx|          2.5|          6.8| 0.5378826337848819|
+---------------+------------+--------------------+---------+-------------------+----------+------------+--------+----------+-------+-----+----+-------------+-------------+-------------+-------------------+
only showing top 20 rows

In [30]:
print(new_df.count())

1016786

In [31]:
null_counts = new_df.select([F.sum(F.col(c).isNull().cast('int')).alias(c) for c in new_df.columns])
null_counts.show()

+--------+---+-----+---------+----+--------+---------+------+----+-------+-----+----+-------+-------------+-------------+-------------+
|h3_index| id|place|magnitude|time|latitude|longitude|status|type|tsunami|depth|year|country|min_magnitude|max_magnitude|std_magnitude|
+--------+---+-----+---------+----+--------+---------+------+----+-------+-----+----+-------+-------------+-------------+-------------+
|       0|  0|    0|        0|   0|       0|        0|     0|   0|      0|    0|   0|      0|            0|            0|        11911|
+--------+---+-----+---------+----+--------+---------+------+----+-------+-----+----+-------+-------------+-------------+-------------+

In [32]:
jdbc_url = "jdbc:postgresql://host.docker.internal:5432/postgres"
connection_props = {
    "user": "postgres",
    "password": "admin123",
    "driver": "org.postgresql.Driver"
}

In [34]:
new_df.write.jdbc(url=jdbc_url, table='earthquake_data', mode='overwrite', properties=connection_props)